
body{
    background-color: skyblue;
}
.my-table thead tr {
    font-size: 3em;
    font-family: unset;
    background-color: chocolate;
    color: whitesmoke;
}

.my-table tbody{
    background-color: azure;
    font-size: 1.2em;
    font-family: unset;
    text-align: center;
}

