.tableStyle {
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
}
.tableStyle thead tr {
    background-color: cadetblue;
    color: #ffffff;
    text-align: left;
}
.tableStyle th,
.tableStyle td {
    padding: 12px 15px;
}
.tableStyle tbody tr{
    background-color: khaki;
}
